@import "./theme/theme.module.scss";

// Fonts
@font-face {
  font-family: Mintmolly;
  src: url("../../../public/Mintmolly.otf");
}

@font-face {
  font-family: Prestigeo;
  src: url("../../../public/Prestigeo.ttf");
}
// 
// Text horizontal scroll animation
@keyframes text-scroll {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(250%);
    -webkit-transform: translateX(250%);
    transform: translateX(250%);
  }
}
// 
// Arrow route animation
@keyframes route-link-anim {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translate(20px);
  }
}
// 

@mixin text-anim-config {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-animation: text-scroll 15s linear infinite;
  -webkit-animation: text-scroll 15s linear infinite;
  animation: text-scroll 15s linear infinite;
}

@mixin route-link-pack {
  .route-link {
    height: 100%;
    width: 35%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    justify-content: flex-end;
    margin-right: 30px;
    .arrow {
      position: absolute;
      width: 1.2vw;
      height: 1.2vw;
      border-bottom: 4px solid #000000;
      border-right: 4px solid #000000;
      transform: rotate(45deg);
      margin: -10px;
      transform: rotate(-45deg) translate(-5px, -5px);
    }
    .arrow:nth-child(2) {
      transform: rotate(-45deg) translate(-15px, -15px);
    }
    .arrow:nth-child(3) {
      transform: rotate(-45deg) translate(-25px, -25px);
    }
  }
  .route-link:hover {
    animation: route-link-anim 2s infinite;
  }
}

@mixin d-and-l-pack {
  .description-and-link {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .description {
      width: 65%;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        margin-left: 25px;
      }
      p:nth-child(1) {
        font-size: 1em;
      }
      p:nth-child(2) {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    @include route-link-pack();
  }
}



.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  width: 1285px;
  // color: red;

  .Top {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .left-placement {
      font-family: Mintmolly;
      font-size: x-large;
    }
    .navigation-buttons {
      display: flex;
      flex-direction: row;
      column-gap: $smallFont;
      .nav-button {
      }
    }
    .right-placement {
      display: flex;
      .button-wrapper {
        border-style: none;
        display: flex;
        flex-direction: row;
        width: auto;
        .button-content {
          font-weight: 500;
        }
        .button-switch {
        }
      }
    }
  }
  @media (max-width: 700px) {
    .Top {
      display: none;
    }
  }
  .box-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: $gapsInFlex;
    justify-content: center;

    .box-line {
      column-gap: $gapsInFlex;
      display: flex;
      flex-direction: row;
      justify-content: center;


      // Stylowanie boxow
      .greetings-box {
        width: $longBoxWidth;
        border-radius: 30px;
        box-shadow: $lightShadows;
        display: flex;
        flex-direction: row;
        column-gap: 2vh;
        height: 380px;
        .image-wraper {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          height: 100%;
          width: 50%;
          border-radius: 30px;
          .photo-style {
            height: 80%;
            width: auto;
            border-radius: 5% 25%;
          }
        }
        .greeting-note {
          align-items: flex-start;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 8px;
        }
        p {
          margin: 0;
        }
        .greeting-note p:nth-child(1) {
          font-weight: bold;
          font-size: $mediumFont;
        }
        .greeting-note p:nth-child(2) {
          font-weight: bold;
          font-size: xx-large;
        }
        .greeting-note p:nth-child(3) {
          font-weight: bold;
          font-size: $mediumFont;
        }
      }
      .right-nested-box {
        width: 620px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 45px;

        .moving-phrase {
          font-weight: bold;
          overflow: hidden;
          width: 100%;
          height: calc(100% / 6);
          border-radius: 10px;
          box-shadow: $lightShadows;
          display: flex;
          position: relative;
          align-items: center;
        }
        .moving-phrase p {
          position: absolute;
          text-align: right;
          white-space: nowrap;
          @include text-anim-config;
        }
        .moving-phrase p:nth-child(2) {
          text-align: right;
          white-space: nowrap;
          animation-delay: 5s;
        }
        .moving-phrase p:nth-child(3) {
          text-align: right;
          white-space: nowrap;
          animation-delay: 10s;
        }
        .credentials-and-portfolio {
          height: $squareLength;
          display: flex;
          flex-direction: row;
          column-gap: $gapsInFlex;

          .c-and-p-box {
            position: relative;
            border-radius: 15%;
            box-shadow: $lightShadows;
            width: $squareLength;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
            .top-sign {
              display: flex;
              align-items: center;
              font-family: Prestigeo;
              font-size: 6ch;
              height: 70%;
            }
            .bg-info {
              align-items: center;
              font-weight: bold;
              display: flex;
              font-size: 4ch;
              background: currentColor;
              background-clip: text;
              -webkit-background-clip: text;
              height: 70%;
              -webkit-text-fill-color: transparent;
            }
            @include d-and-l-pack();
          }
        }
      }
    }
    @media (max-width: 1300px) {
      .box-line {
        flex-direction: column;
        align-items: center;
        row-gap: $gapsInFlex;
        .greetings-box {
          .image-wraper {
            width: 50%;
            justify-content: space-evenly;
          }
        }
        .right-nested-box {
          height: 408px;
        }
      }
      // }
    }
    @media (max-width: 700px) {
      .box-line {
        .greetings-box {
          flex-direction: column;
          height: 100%;
          width: $mobileViewWidth;
          align-items: center;
          .image-wraper {
            height: calc(60vw * 0.9);
          }
          .greeting-note {
            width: 100%;
            justify-content: center;
            text-align: center;
            align-items: center;
          }
        }
        .right-nested-box {
          height: 100%;
          width: $mobileViewWidth;
          .moving-phrase {
            height: 40px;
          }
          .credentials-and-portfolio {
            flex-direction: column;
            height: 100%;
            row-gap: $gapsInFlex;
            .c-and-p-box {
              height: $squareLength;
            }
          }
        }
      }
    }
    .box-line-s {
      column-gap: $gapsInFlex;
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      height: $squareLength;

      .cv-box {
        width: $squareLength;
        border-radius: 15%;
        box-shadow: $lightShadows;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        .image-wraper {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          height: 70%;
          width: 50%;
          border-radius: 30px;
          .photo-style {
            height: 70%;
            width: auto;
          }
        }
        @include d-and-l-pack();
      }
      .offered-services-box {
        width: $longBoxWidth;
        height: $squareLength;
        border-radius: 30px;
        box-shadow: $lightShadows;
        .image-wraper {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          height: 70%;
          justify-content: space-evenly;
          border-radius: 30px;
          column-gap: 0.01vw;
          .photo-style {
            height: 80px;
            width: auto;
          }
        }
        @include d-and-l-pack();
      }

      .profiles-box {
        border-radius: 15%;
        box-shadow: $lightShadows;
        width: $squareLength;
        .image-wraper {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          height: 70%;
          justify-content: space-evenly;
          border-radius: 30px;
          column-gap: 10px;

          .photo-style {
            height: 80px;
            width: auto;
          }
        }
        @include d-and-l-pack();
      }
      .statistic {
        display: flex;
        flex-direction: row;
        width: $longBoxWidth;
        height: $squareLength;
        border-radius: 30px;
        box-shadow: $lightShadows;
        align-items: center;
        justify-content: center;
        column-gap: $gapsInFlex;
        .stat-box {
          flex-direction: column;
          justify-content: flex-end;
          display: flex;
          box-shadow: $lightShadows;
          width: 25%;
          height: 60%;
          border-radius: 30px;
          align-items: center;

          //inner shadow on hover?
          // box-shadow: $dropShadow, $innerShadow;
          p {
            margin-top: 20%;
            position: relative;
            font-size: 200%;
            height: 10%;
            text-align: center;
            font-weight: bold;
          }
          p:nth-child(2) {
            margin-top: 0%;
            font-size: 100%;
            text-align: center;
            height: 20%;
            width: 80%;
            margin-bottom: 20%;
            margin-right: 10%;
          }
        }
      }
      .notes {
        display: flex;
        flex-direction: column;
        width: $longBoxWidth;
        border-radius: 30px;
        height: $squareLength;
        box-shadow: $lightShadows;
        justify-content: flex-end;
        row-gap: 0%;
        .first-line {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 20%;
          justify-content: center;
          p {
            font-size: 3em;
            margin-left: 3%;
            font-weight: bold;
          }
        }
        .second-line {
          align-items: center;
          margin-top: 0%;
          height: $smallFont;
          margin-bottom: 45px;
          display: flex;
          flex-direction: row;
          column-gap: 5px;
          p {
            margin-left: 3%;
            font-weight: bold;
            font-size: 3em;
          }
          p:nth-child(2) {
            margin-left: 0%;
            color: #3562ac;
          }
        }
      }
    }
  }
  @media (max-width: 1300px) {
    .box-wrapper {
      // width: 100%;
      height: 100%;
      row-gap: $gapsInFlex;
      align-items: center;

      .box-line {
        height: 100%;
      }
      .box-line-s {
        column-gap: $gapsInFlex;
        row-gap: $gapsInFlex;
        justify-content: center;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        // flex-direction: column;
        align-items: center;
        // justify-content: space-between;
        .cv-box {
          height: $squareLength;
          width: $squareLength;
          order: 1;
        }
        .profiles-box {
          height: $squareLength;
          width: $squareLength;
          order: 2;
        }
        .offered-services-box {
          // height: 100%;
          width: $longBoxWidth;
          order: 3;
        }
        // height: 30%;
      }
    }
  }
  @media (max-width: 700px) {
    .box-wrapper {
      .box-line-s {
        .offered-services-box {
          width: $squareLength;
          .image-wraper {
            flex-direction: column;
            flex-wrap: wrap;
          }
        }
        .statistic {
          row-gap: $gapsInFlex;
          height: $longBoxWidth;
          width: $squareLength;
          flex-direction: column;
          .stat-box {
            width: 150px;
            height: 150px;
          }
          .stat-box:nth-child(1) p:nth-child(2) {
            margin-right: 0;
            width: 100%;
          }
          .stat-box:nth-child(2) p:nth-child(2) {
            margin-right: 0;
            width: 100%;
          }
          .stat-box:nth-child(3) p:nth-child(2) {
            margin-right: 20%;
            margin-left: 20%;
          }
        }
        .notes {
          height: $squareLength;
          width: $mobileViewWidth;
          .first-line {
            font-size: $smallFont;
          }
          .second-line {
            font-size: 10px;
          }
        }
      }
    }
  }
  .Bottom {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    width: 70vw;
    align-items: center;
    .placement {
      font-family: Mintmolly;
      font-size: x-large;
    }
    .navigation-buttons {
      display: flex;
      flex-direction: row;
      column-gap: 1vw;
      .nav-button {
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .main-page {
    width: 100vw;
    .box-wrapper {
      margin-top: 1px;
      margin-bottom: 1px;
    }
    .Bottom {
      display: none;
    }
  }
}
