$mainBackground: #e8eaec;
$darkShadow: #0d2750;
$lightShadow: #ffffff;
$bigTitleFont: 55px;
$squarelength: 295px;
$boxWrapperLenght:1285px;
$projectSquareLength: 370px;
$gapsInFlex: 45px;
$longBoxWidth: 620px;
$smallfont: 14px;
$mediumfont: 20px;
$titleFont: 22px;
$mobileWievWidth: calc(80vw * 0.9);
$boxBottomMargin: 30px;

$dropShadow: 1vh 1vh 3vh rgba($darkShadow, 0.25),
  -0.8vh -0.9vh 1.1vh rgba($lightShadow, 1);

$innerShadow: inset -15px -15px 20px rgba($lightShadow, 0.7),
  inset 8px 8px 30px rgba($darkShadow, 0.2);

  @keyframes text-scroll {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(250%);
      -webkit-transform: translateX(250%);
      transform: translateX(250%);
    }
  }
  @keyframes route-link-anim {
    0% {
      // transform: translate(-20px, -20px);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: translate(20px);
    }
  }

@mixin big-title {
  font-size: 16px;
  font-weight: bold;
}
@mixin project-common-font{
  font-weight:bold;
  margin: 20px 20px 0 30px;
  margin-left: 30px;
  margin-right: 20px;
}
@mixin route-link-pack {
  .route-link {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
    justify-content: flex-end;
    margin: 20px 70px 0 0;
    .arrow {
      position: absolute;
      width: 25px;
      height: 25px;
      border-bottom: 5px solid #000000;
      border-right: 5px solid #000000;
      transform: rotate(45deg);
      margin: -10px;
      transform: rotate(-45deg) translate(-5px, -5px);
    }
    .arrow:nth-child(2) {
      transform: rotate(-45deg) translate(-15px, -15px);
    }
    .arrow:nth-child(3) {
      transform: rotate(-45deg) translate(-25px, -25px);
    }
  }
  .route-link:hover {
    animation: route-link-anim 2s infinite;
  }
}

@mixin d-and-l-pack {
  .description-and-link {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .description {
      width: 65%;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        margin-left: 25px;
      }
      p:nth-child(1) {
        font-size: 1em;
      }
      p:nth-child(2) {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    @include route-link-pack;
  }
}
@mixin date-style {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 15px;
}
@mixin medium-title {
  color: #0d2750;
  font-weight: bold;
  font-size: 19px;
}
@mixin small-title {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 15px;
}
@mixin description {
  font-size: 13px;
  margin-bottom: 35px;
}
@mixin big-title {
  font-size: 21px;
  font-weight: bold;
}
@mixin extracted-block {
  p {
    margin: 0;
    margin-bottom: 4px;
  }
  p:nth-child(1) {
    @include date-style;
  }
  p:nth-child(2) {
    @include medium-title;
  }
  p:nth-child(3) {
    @include small-title;
  }
  p:nth-child(4) {
    @include description;
  }
}
@mixin extracted-block-small {
  p {
    margin: 0;
    margin-bottom: 4px;
  }
  p:nth-child(1) {
    @include date-style;
  }
  p:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
  }
  p:nth-child(3) {
    @include small-title;
  }
}
.box-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  column-gap: $gapsInFlex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: $gapsInFlex;
  .summary-and-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: $gapsInFlex;
    
    .image-wrapper {
      border-radius: 30px;
      height: $squarelength;
      box-shadow: $dropShadow;
      margin-bottom: $boxBottomMargin;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      //height: 70%;
      width: 30%;
      justify-content: space-evenly;
      border-radius: 30px;
      column-gap: 10px;

      .photo-style {
        border-radius: 30px;
        height: 90%;
        width: auto;
      }
    }
    .title-and-description{
      width: 70%;
      .page-title {
        width: $longBoxWidth;
        text-align: center;
        font-size: $bigTitleFont;
        font-weight: 800;
      }
      .about-me {
        border-radius: 30px;
        height: $squarelength * 0.7;
        box-shadow: $dropShadow;
        margin-bottom: $boxBottomMargin;
        //width: 70%;
        margin-bottom: $boxBottomMargin;
        p {
          @include description;
          margin-bottom: 10px;
        }
      }
    }
  }
  .exp-and-education{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: $gapsInFlex;
    .experience{
      width: $longBoxWidth;
      border-radius: 30px;
      height: $squarelength;
      box-shadow: $dropShadow;
      margin-bottom: $boxBottomMargin;
      h3 {
        margin-left: 30px;
        @include big-title;
      }
      .extracted-block {
        margin-left: 30px;
        margin-bottom: $boxBottomMargin;
        @include extracted-block;
      }
    }
    .education{
      width: $longBoxWidth;
      border-radius: 30px;
      height: $squarelength;
      box-shadow: $dropShadow;
      margin-bottom: $boxBottomMargin;
      h3 {
        margin-left: 30px;
        @include big-title;
      }
      .extracted-block {
        margin-left: 30px;
        margin-bottom: $boxBottomMargin;
        @include extracted-block;
      }
    }
  }
  .box-line-bottom {
    display: flex;
    flex-direction: row;
    column-gap: $gapsInFlex;
    .profiles-box {
      border-radius: 15%;
      box-shadow: $dropShadow;
      width: $squarelength;
      height: $squarelength;
      .image-wraper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 70%;
        justify-content: space-evenly;
        border-radius: 30px;
        column-gap: 10px;

        .photo-style {
          height: 80px;
          width: auto;
        }
      }
      @include d-and-l-pack;
    }
    .notes {
      display: flex;
      flex-direction: column;
      width: $longBoxWidth;
      border-radius: 30px;
      height: $squarelength;
      box-shadow: $dropShadow;
      justify-content: flex-end;
      row-gap: 0%;
      .first-line {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 20%;
        justify-content: center;
        p {
          font-size: 3em;
          margin-left: 3%;
          font-weight: bold;
        }
      }
      .second-line {
        align-items: center;
        margin-top: 0%;
        height: $smallfont;
        margin-bottom: 45px;
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        p {
          margin-left: 3%;
          font-weight: bold;
          font-size: 3em;
        }
        p:nth-child(2) {
          margin-left: 0%;
          color: #3562ac;
        }
      }
    }
    .c-and-p-box {
      position: relative;
      border-radius: 15%;
      box-shadow: $dropShadow;
      width: $squarelength;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: space-evenly;
      .top-sign {
        display: flex;
        align-items: center;
        font-family: Prestigeo;
        font-size: 6ch;
        height: 70%;
      }
      .bg-info {
        align-items: center;
        font-weight: bold;
        display: flex;
        font-size: 4ch;
        background: linear-gradient(to top, #00000038 50%, #000000 50%);
        background-clip: text;
        -webkit-background-clip: text;
        height: 70%;
        -webkit-text-fill-color: transparent;
      }
      @include d-and-l-pack();
    }
  }
}