.box-wrapper {
  margin: 100px 0 100px 0;
  -moz-column-gap: 45px;
       column-gap: 45px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 1285px;
}
.box-wrapper .left-side-contact {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.box-wrapper .left-side-contact .contact-title {
  font-weight: bolder;
  margin-bottom: 30px;
}
.box-wrapper .left-side-contact .contact-types {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-wrapper .left-side-contact .contact-types .contact-box {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.box-wrapper .left-side-contact .contact-types .contact-box .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
}
.box-wrapper .left-side-contact .contact-types .contact-box .image-wrapper .photo-style {
  height: 80px;
  width: auto;
}
.box-wrapper .left-side-contact .contact-types .contact-box .contact-paragraphs p:nth-child(2) {
  font-weight: 500;
}
.box-wrapper .left-side-contact .social-title {
  margin-top: 30px;
  font-weight: bolder;
}
.box-wrapper .left-side-contact .socials {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.box-wrapper .left-side-contact .socials .photo-style {
  height: 100px;
  width: auto;
}
.box-wrapper .right-side-contact {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 30px;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
}
.box-wrapper .right-side-contact .notes {
  display: flex;
  flex-direction: column;
  width: 713px;
}
.box-wrapper .right-side-contact .notes .first-line {
  display: flex;
  flex-direction: row;
  height: 20%;
}
.box-wrapper .right-side-contact .notes .first-line p:nth-child(1) {
  font-size: 3em;
  font-weight: bold;
  margin-right: 14px;
}
.box-wrapper .right-side-contact .notes .first-line p:nth-child(2) {
  font-size: 3em;
  font-weight: bold;
  margin-left: 0%;
  color: #3562ac;
}
.box-wrapper .right-side-contact .form-wrapper {
  display: flex;
  justify-content: center;
  width: 713px;
}
.box-wrapper .right-side-contact .form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box-wrapper .right-side-contact .form-wrapper form label {
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}
.box-wrapper .right-side-contact .form-wrapper form label input {
  font-size: 18px;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
  width: 100%;
  height: 55px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.box-wrapper .right-side-contact .form-wrapper form label:nth-child(4) {
  margin-bottom: 30px;
}
.box-wrapper .right-side-contact .form-wrapper form label:nth-child(4) textarea {
  font-size: 18px;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
  width: 100%;
  height: 55px;
  border-radius: 10px;
  border: 0;
  resize: none;
  height: 110px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.box-wrapper .right-side-contact .form-wrapper form input[type=submit] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 180px;
  height: 55px;
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
  cursor: pointer;
}
/*# sourceMappingURL=page.module.css.map */