// Theme configuration

// Colors:
// dark theme colors
$codGray: #0d0c0c;
$codGrayMid: #181616;
$mineShaft: #232020;
// light theme colors
$doveGray: #747070;
$white: #ffffff;
$porcelain: #e8eaec;

$blueCharcoal: #02111b;
$tuna: #3f4045;

// body background dark/light
$backgroundLight: $porcelain;
$backgroundDark: $codGray;
// text colors
$textLight: $mineShaft;
$textDark: $white;

// Shadows:
$darkShadows: 34px 34px 73px $codGrayMid, -34px -34px 73px $mineShaft;
$lightShadows: 34px 34px 73px $doveGray, -34px -34px 73px $white;

// Lengths:
$squareLength: 295px;
$gapsInFlex: 45px;
$longBoxWidth: 620px;
// Font size:
$smallFont: 14px;
$mediumFont: 16px;
$mobileViewWidth: calc(80vw * 0.9);

.light {
  color: $mineShaft;
}

.dark {
  color: $white;
}
