@use "sass:list";

// Theme configuration

// Colors:
// dark theme colors
$codGray: #0d0c0c;
$codGrayMid: #181616;
$mineShaft: #232020;
// light theme colors
$doveGray: #747070;
$porcelain: #e8eaec;
$silver: #cccccc;

$babyPowder: #fffffa;
$cinereous: #93827f;
$raisinBlack: #272932;
$blueCharcoal: #02111b;
$tuna: #3f4045;

// body background dark/light
$lightMainColorSet: $mineShaft, $porcelain;
$darkMainColorSet: $babyPowder, $raisinBlack;

// Shadows:
$darkShadows: 34px 34px 73px $codGrayMid, -34px -34px 73px $mineShaft;
$lightShadows: 34px 34px 73px $doveGray, -34px -34px 73px $babyPowder;

// Background gradient - light
$simpleGradient: $babyPowder, $silver;
$schemeSimpleGradient: $mineShaft, $simpleGradient;
// Background gradient - dark
$simpleGradientDark: $raisinBlack, $doveGrey;
$schemeSimpleGradientDark: $babyPowder, $simpleGradientDark;
// Lengths:
$squareLength: 295px;
$gapsInFlex: 45px;
$longBoxWidth: 620px;
// Font size:
$smallFont: 14px;
$mediumFont: 16px;
$mobileViewWidth: calc(80vw * 0.9);

@mixin color-scheme($text, $bg) {
  @if list.length($bg) == 1 {
    background-color: $bg;
  } @else {
    background-image: linear-gradient(to top left, $bg);
  }
  color: $text;
}

.light {
  @include color-scheme($schemeSimpleGradient...);
}

.dark {
  @include color-scheme($schemeSimpleGradientDark...);
}
