body{
  margin-right: 5vw auto;
  margin-left: 5vw auto;   
  background-color: #e8eaec;
  display: flex;
  justify-content: center;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
} */


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
