$darkShadow: #0d2750;
$lightShadow: #ffffff;
$gapsInFlex: 45px;
$squarelength: 295px;
$boxBottomMargin: 50px;

@mixin date-style {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
@mixin medium-title {
  color: #0d2750;
  font-weight: bold;
  font-size: 14px;
}
@mixin small-title {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
@mixin description {
  font-size: 13px;
  margin-bottom: 35px;
}
@mixin big-title {
  font-size: 16px;
  font-weight: bold;
}
@mixin extracted-block {
  p {
    margin: 0;
    margin-bottom: 4px;
  }
  p:nth-child(1) {
    @include date-style;
  }
  p:nth-child(2) {
    @include medium-title;
  }
  p:nth-child(3) {
    @include small-title;
  }
  p:nth-child(4) {
    @include description;
  }
}
@mixin extracted-block-small {
  p {
    margin: 0;
    margin-bottom: 4px;
  }
  p:nth-child(1) {
    @include date-style;
  }
  p:nth-child(2) {
    font-weight: bold;
    font-size: 14px;
  }
  p:nth-child(3) {
    @include small-title;
  }
}

$dropShadow: 1vh 1vh 3vh rgba($darkShadow, 0.25),
  -0.8vh -0.9vh 1.1vh rgba($lightShadow, 1);

.box-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  column-gap: $gapsInFlex;
  h3 {
    @include big-title;
  }
  .left-side-credentials {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: $gapsInFlex;
    align-items: flex-end;
    margin-top: 30px;
    .photo-and-profile {
      width: calc($squarelength * 0.95);
      border-radius: 30px;
      box-shadow: $dropShadow;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      top: 0;
      .photo-style {
        margin-top: 15px;
        width: calc($squarelength * 0.7);
        height: auto;
        border-radius: 5% 25%;
      }
      .profile-note {
        p {
          text-align: center;
          margin: 0;
        }
        p:nth-child(1) {
          margin-bottom: 4px;
          @include big-title;
        }
        p:nth-child(2) {
          @include small-title;
        }
        margin-bottom: 10px;
      }
      .profiles-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
        .image-wraper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          column-gap: 10px;
          .photo-style {
            margin-top: 0;
            width: 35px;
            height: auto;
          }
        }
      }
      .contact-button {
        font-weight: bold;
        width: calc($squarelength * 0.70);
        height: 35px;
        border-radius: 10px;
        box-shadow: $dropShadow;
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;
      }
    }
    .recomendation-box {
      width: $squarelength;
      border-radius: 30px;
      box-shadow: $dropShadow;
    }
  }
  .right-side-credentials {
    width: 50%;
    .about-me {
      width: 80%;
      margin-bottom: $boxBottomMargin;
      p {
        @include description;
        margin-bottom: 10px;
      }
    }
    .experience {
      width: 80%;
      margin-bottom: $boxBottomMargin;
      .extracted-block {
        @include extracted-block;
      }
    }
    .education {
      margin-bottom: $boxBottomMargin;
      .extracted-block {
        @include extracted-block;
      }
    }
    .skills {
      margin-bottom: $boxBottomMargin;
      .wrap-box {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        row-gap: 15px;
        column-gap: 190px;
        .extracted-block {
          @include extracted-block-small;
        }
      }
    }
    .badges {
      .wrap-box {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        .extracted-block {
          @include extracted-block-small;
        }
      }
    }
  }
}
