.box-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.box-wrapper h3 {
  font-size: 16px;
  font-weight: bold;
}
.box-wrapper .left-side-credentials {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  align-items: flex-end;
  margin-top: 30px;
}
.box-wrapper .left-side-credentials .photo-and-profile {
  width: 280.25px;
  border-radius: 30px;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.box-wrapper .left-side-credentials .photo-and-profile .photo-style {
  margin-top: 15px;
  width: 206.5px;
  height: auto;
  border-radius: 5% 25%;
}
.box-wrapper .left-side-credentials .photo-and-profile .profile-note {
  margin-bottom: 10px;
}
.box-wrapper .left-side-credentials .photo-and-profile .profile-note p {
  text-align: center;
  margin: 0;
}
.box-wrapper .left-side-credentials .photo-and-profile .profile-note p:nth-child(1) {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
}
.box-wrapper .left-side-credentials .photo-and-profile .profile-note p:nth-child(2) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .left-side-credentials .photo-and-profile .profiles-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}
.box-wrapper .left-side-credentials .photo-and-profile .profiles-box .image-wraper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.box-wrapper .left-side-credentials .photo-and-profile .profiles-box .image-wraper .photo-style {
  margin-top: 0;
  width: 35px;
  height: auto;
}
.box-wrapper .left-side-credentials .photo-and-profile .contact-button {
  font-weight: bold;
  width: 206.5px;
  height: 35px;
  border-radius: 10px;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.box-wrapper .left-side-credentials .recomendation-box {
  width: 295px;
  border-radius: 30px;
  box-shadow: 1vh 1vh 3vh rgba(13, 39, 80, 0.25), -0.8vh -0.9vh 1.1vh white;
}
.box-wrapper .right-side-credentials {
  width: 50%;
}
.box-wrapper .right-side-credentials .about-me {
  width: 80%;
  margin-bottom: 50px;
}
.box-wrapper .right-side-credentials .about-me p {
  font-size: 13px;
  margin-bottom: 35px;
  margin-bottom: 10px;
}
.box-wrapper .right-side-credentials .experience {
  width: 80%;
  margin-bottom: 50px;
}
.box-wrapper .right-side-credentials .experience .extracted-block p {
  margin: 0;
  margin-bottom: 4px;
}
.box-wrapper .right-side-credentials .experience .extracted-block p:nth-child(1) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .right-side-credentials .experience .extracted-block p:nth-child(2) {
  color: #0d2750;
  font-weight: bold;
  font-size: 14px;
}
.box-wrapper .right-side-credentials .experience .extracted-block p:nth-child(3) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .right-side-credentials .experience .extracted-block p:nth-child(4) {
  font-size: 13px;
  margin-bottom: 35px;
}
.box-wrapper .right-side-credentials .education {
  margin-bottom: 50px;
}
.box-wrapper .right-side-credentials .education .extracted-block p {
  margin: 0;
  margin-bottom: 4px;
}
.box-wrapper .right-side-credentials .education .extracted-block p:nth-child(1) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .right-side-credentials .education .extracted-block p:nth-child(2) {
  color: #0d2750;
  font-weight: bold;
  font-size: 14px;
}
.box-wrapper .right-side-credentials .education .extracted-block p:nth-child(3) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .right-side-credentials .education .extracted-block p:nth-child(4) {
  font-size: 13px;
  margin-bottom: 35px;
}
.box-wrapper .right-side-credentials .skills {
  margin-bottom: 50px;
}
.box-wrapper .right-side-credentials .skills .wrap-box {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  row-gap: 15px;
  -moz-column-gap: 190px;
       column-gap: 190px;
}
.box-wrapper .right-side-credentials .skills .wrap-box .extracted-block p {
  margin: 0;
  margin-bottom: 4px;
}
.box-wrapper .right-side-credentials .skills .wrap-box .extracted-block p:nth-child(1) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .right-side-credentials .skills .wrap-box .extracted-block p:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
}
.box-wrapper .right-side-credentials .skills .wrap-box .extracted-block p:nth-child(3) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .right-side-credentials .badges .wrap-box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.box-wrapper .right-side-credentials .badges .wrap-box .extracted-block p {
  margin: 0;
  margin-bottom: 4px;
}
.box-wrapper .right-side-credentials .badges .wrap-box .extracted-block p:nth-child(1) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
.box-wrapper .right-side-credentials .badges .wrap-box .extracted-block p:nth-child(2) {
  font-weight: bold;
  font-size: 14px;
}
.box-wrapper .right-side-credentials .badges .wrap-box .extracted-block p:nth-child(3) {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 12px;
}
/*# sourceMappingURL=credentials.module.css.map */