$darkShadow: #0d2750;
$lightShadow: #ffffff;
$gapsInFlex: 45px;
$squarelength: 295px;

$dropShadow: 1vh 1vh 3vh rgba($darkShadow, 0.25),
  -0.8vh -0.9vh 1.1vh rgba($lightShadow, 1);

.box-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    column-gap: $gapsInFlex;

    .left-side-credentials{
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: $gapsInFlex;
        align-items: flex-end;
        // background-color: aqua;
        .photo-and-profile{
            width: $squarelength;
            border-radius: 30px;
            box-shadow: $dropShadow;
        }
        .recomendation-box{
            width: $squarelength;
            border-radius: 30px;
            box-shadow: $dropShadow;
        }
    }
    .right-side-credentials{
        width: 50%;
        .about-me{
            width: 70%
        }
    }
}